# Final Assigment

__1.__ Create a Jupyter Notebook

__2.__ Create markdown cell with title of the notebook

# Sata Science Tools and Ecosystem

__3.__ Create a markdown cell for an introduction

This notebook provides a summary of Data Science Tools and the associated ecosystem.

__10.__ Insert a markdown cell to list Objetives

__Objetives:__
+ Name some data science languages
+ Name some data science libraries 
+ List some tools necessary for data analysis
+ Evaluate arithmetic operations
+ Example of how to convert minutes to hours using a Python expression

__4.__ Create a markdown cell to list data science languages

Data scientists often use several languages such as:

1. Python
2. JavaScript
3. SQL

__5.__ Create a markdown cell to list data science libraries

Some of the libraries frequently used by data scientists are:

    1. Pandas for data structure tools
    2. Numpy for Arrays and matrices
    3. Matplotlib for visualization tools 
    4. Scikitlearn for Machine Learning

__6.__ Create a markdown cell with a table of Data Science tools

|___Data Science Tools___|
|-|
|RStudio|
|Jupyter Notebooks|
|IBM Watson Studio|

__7.__ Create a markdown cell introducing arithmetic expression examples

### These are some examples of arithmetic expressions that we can evaluate in Python:

__8.__ Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integres
(3*4)+5

17

__9.__ Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

__11.__ Create a markdown cell to indicate the Author's name

## Author
Brayan Steven Vargas Barrera